out/
build/
dist/
lib/
tmp/
coverage/
node_modules/

#IDE
.idea/
.vscode/

public/
scripts/
__snapshots__/
jest.config.js

emsdk/
oniguruma/
cmake-build-debug/
cmake-build-release/

package-lock.json

languages/monaco-az-logic-app-lang/grammar
languages/monaco-az-logic-app-lang/scanner
packages/grammars/**
